html,
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #222;
  color: #fff;
  overflow-X: hidden;
  outline: none;
}

.blue {
  color: #259bfa;
}

.light-blue {
  color: #0ff;
}

.yellow {
  color: #fae421;
}

.orange {
  color: #f77729;
}

.light-green {
  color: #56ff50;
}

.purple {
  color: #b34dd4;
}

/*************************************************************/

/************************** Header ***************************/

/*************************************************************/

.bg-img {
  width: 100vw;
  height: 100vh;
  background: url("/img/code4.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header-content {
  display: block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 40vh;
  color: #fff;
  font-size: 150%;
  margin: auto;
}

.header-content h1 {
  display: inline-block;
  background-color: #000;
  padding: 20px;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navigate div {
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: #000 3px solid;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.navigate {
  display: inline-block;
  position: relative;
  float: center;
  color: #56ff50;
  font-size: 430%;
  margin: 25px auto;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.navigate div:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: #000 3px solid;
}

.navigate:hover {
  color: #67d0f9;
}

/*************************************************************/

/************************** Content **************************/

/*************************************************************/

.content {
  background: #222;
  color: #fff;
}

.dark {
  background: #222;
  color: #fff;
}

.light {
  background: #fff;
  color: #222;
}

section {
  font-size: 110%;
  max-width: 70%;
  margin: auto;
  padding: 50px;
  text-align: justify;
}

section h2 {
  font-size: 230%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 25px;
}

#me {
  background-image: url("/img/man2.jpeg");
  float: left;
  height: 400px;
  width: 48%;
  background-position: center;
  background-repeat: no-repeat;
}

section#about p {
  width: 50%;
  float: right;
  line-height: 1.6rem;
  font-size: 120%;
}

/*************************************************************/

/************************* Parallax **************************/

/*************************************************************/

.parallax-image1,
.parallax-image2,
.parallax-image3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-image: url("/img/code4.jpg");
  min-height: 400px;
}

.parallax-text {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 7px 13px;
  vertical-align: middle;
  margin: auto;
  width: 95vw;
  font-size: 300%;
  letter-spacing: 8px;
}

.parallax-text .border {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.border {
  margin: auto;
  min-width: 100%;
}

/*************************************************************/

/************************* Portfolio *************************/

/*************************************************************/

#portfolio img {
  width: 100%;
  height: auto;
}

#portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

#portfolio li {
  width: 31%;
  margin-bottom: 1em;
}

.card-content {
  width: 100%;
  float: none;
  font-size: 150%;
}

/*************************************************************/

/*************************** Contact *************************/

/*************************************************************/

#contact {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  border: 2px solid #000;
  border-radius: 50px;
  margin: auto;
  width: 90%;
  background-color: #ddd;
}

#skills {
  width: 50%;
}

#skills p {
  padding-left: 8.7%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 22px;
}

.skills {
  border-radius: 50px;
  text-align: center;
  line-height: 47.5px;
  color: #000;
  font-weight: bold;
}

.web {
  width: 80%;
  background: -webkit-gradient(linear, left top, right bottom, from(#0ff), to(#b34dd4));
  background: linear-gradient(to bottom right, #0ff, #b34dd4);
}

.android {
  width: 40%;
  background: -webkit-gradient(linear, left top, right bottom, from(#56ff50), to(#0ff));
  background: linear-gradient(to bottom right, #56ff50, #0ff);
}

.iOS {
  width: 10%;
  background: -webkit-gradient(linear, left top, right bottom, from(#b34dd4), to(#f77729));
  background: linear-gradient(to bottom right, #b34dd4, #f77729);
}

#contact h3 {
  margin-top: 10px;
}

#skills-icons {
  margin-top: 4px;
  display: inline-block;
  padding: 1rem;
  max-width: 90%;
}

#skills-icons img {
  width: 100px;
  height: 100px;
}

#skills-icons p {
  display: inline-block;
  font-size: 90px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#contact-me {
  width: 45%;
}

#contact-me form label {
  display: block;
  font-size: 25px;
  padding: 8px 0;
}

#contact-me form input,
#contact-me form textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: #ccc;
  font-size: 20px;
  width: 94.5%;
  padding: 10px;
  border: 1px solid #000;
  line-height: 1.3;
  border-radius: 10px;
}

#contact-me form input,
#contact-me form textarea,
#contact-me form button {
  margin-left: 4%;
}

#contact-me form button {
  padding: 1rem 0;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, right bottom, from(#0ff), to(#b34dd4));
  background: linear-gradient(to bottom right, #0ff, #b34dd4);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
}

#contact-me form button:hover,
#contact-me form button:focus {
  cursor: pointer;
  color: #fff;
}

#contact-me form input:focus,
#contact-me form textarea:focus {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#ccc));
  background: linear-gradient(to bottom right, #fff, #ccc);
}

#contact-me ul {
  list-style: none;
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#contact-me ul li {
  display: inline-block;
  padding: 20px;
}

#contact-me ul li a {
  font-size: 72px;
  position: relative;
  text-align: center;
  top: 10px;
  text-decoration: none;
  color: #fff;
}

#contact-me div#social-buttons {
  padding-left: 8%;
  min-width: 100%;
}

/*************************************************************/

/*************************** Footer **************************/

/*************************************************************/

#main-footer {
  padding: 2em;
  background: #222;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #2690d4;
  text-decoration: none;
}

#main-footer div {
  padding-bottom: 10px;
}

#main-footer a.navigate {
  position: relative;
  font-size: 400%;
}

#main-footer a#back-to-top {
  position: relative;
  top: 10px;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, right bottom, from(#0ff), to(#56ff50));
  background: linear-gradient(to bottom right, #0ff, #56ff50);
  color: #000;
  font-weight: bold;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  border: 1px solid black;
  border-radius: 50px;
}

#main-footer a#back-to-top:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#56ff50), to(#0ff));
  background: linear-gradient(to bottom right, #56ff50, #0ff);
}

