* {
  margin: 0;
  padding: 0;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-template-areas: "header" "sidebar" "content" "sidebar2" "footer";
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "header  header  header" ". content ." "footer  footer  footer";
  }
}

.box {
  background-color: #444;
  color: #fff;
  padding: 1rem;
  font-size: 150%;
}

.header,
.footer {
  background-color: #999;
}

.sidebar {
  background-color: #000;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}

