* {
  margin: 0;
  padding: 0;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
}

.wrapper {
  display: grid;
  grid-template-areas: "header" "content" "sidebar2" "footer";
}

@media only screen and (max-width: 580px) {
  .wrapper {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: "header  header  header" "content content content" "footer  footer  footer";
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

