.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #fff;
  text-align: center;
  margin: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

nav.black ul {
  background: rgba(0, 0, 0, 0.8);
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  font-size: 20px;
}

.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.logo a:hover {
  color: #56ff50;
}

nav ul li a:hover:not(.logo) {
  color: #67d0f9;
}

@media (max-width: 1250px) {
  nav ul {
    text-align: right;
  }
}

@media (max-width: 1024px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: rgba(0, 0, 0, 0.6);
  }

  nav.black ul {
    background: rgba(0, 0, 0, 0.8);
  }

  .showing {
    max-height: 540em;
  }

  nav ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

