#tasks-div {
  width: 60%;
  height: 70%; // background: linear-gradient(to bottom right, rgba(0, 200, 200, 1), rgba(145, 60, 173, 1)); // background-color: #2690d4;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 50px;
  border-radius: 20px; // font-size: 130%;
  letter-spacing: 1px;
  font-size: 18px;
}

#tasks-div form {
  // margin-right: auto;
}


#tasks-div button {
  border: 1px solid #000;

  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: 1s; // width: 97.8%;
  // padding: 10px;
}


#tasks-div form label {
  font-size: 110%;
}

#tasks-div form input,
#tasks-div form button {
  height: 3%;
}

#tasks-div form input {
  padding: 5px;
  width: 30%;
  border: none;
  border-bottom: 2px solid #0ff;
  background: rgba(0, 0, 0, .6);
  outline: none;
  color: #fff;
  font-size: 18px;
}

#tasks-div form button {
  padding: 10px;
  width: 30%;
  margin: auto;
  background: linear-gradient(to bottom right, #0ff, #b34dd4);
  border-radius: 10px;
  transition: 1s;
}


#current-tasks {
  margin: 10px;
}

.task-row {
  font-size: 20px;
}


div.task-row {
  margin: 10px;
  padding: 20px; // background-color:rgba(102, 255, 51, .6);
}

.task-row p {
  display: inline-block;
}

div.buttons {
  display: inline-block;
  float: right;
  position: relative;
  vertical-align: middle;
  margin: auto;
  top: -15px
}

div.buttons button,
#current-tasks .task-row button {
  padding: 10px 12px;
}

form {
  display: inline-block;
}

button:hover {
  color: #fff;
}

button.edit {
  background: linear-gradient(to bottom right, #0ff, #b34dd4); // background-color: #2690d4;
}



#current-tasks .task-row button.check {
  background: linear-gradient(to bottom right, #56ff50, #0ff);
}

#current-tasks .task-row button.delete {
  background: linear-gradient(to bottom right, #b34dd4, red); // background-color: #b34dd4;
}
